# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# Editor settings
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Data
data/
